@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    background-image: linear-gradient(
        to bottom,
        #f5eedf 50%, /* cream*/
        #a1c690 50%  /* green */
    );
}

#viewport-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#monitor {
    background-color: #feabbf;
    border: 3px solid #363747;
    padding: 20px;
    border-radius: 50px;
    width: 1200px;
    height: 800px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#screen-border {
    background-color: #3f4f96;
    border: 3px solid #363747;
    padding: 20px;
    margin-top: 47px;
    border-radius: 45px;
    width: 90%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screen {
    background-color: #7fc4bf;
    width: 97%;
    height: 95%;
    border-radius: 30px;
    border: 3px solid #363747;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#monitor-buttons {
    margin-top: auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#buttons-container {
    background-color: transparent;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#button1, #button2, #button3, #button4 {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 2px solid #363747;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
}

#button1 {
    background-color: #00ae97; /* dark green */ 
}

#button2 {
    background-color: #edc88b; /* yellow */ 
}

#button3 {
    background-color: #a1c690;
}

#button4 {
    background-color: #8fcecb;
}

#power-button-container {
    border: 2px solid #363747;
    background-color: transparent;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

#power-button {
    margin-left: auto;
    width: 35px;
    height: 10px;
    background-color: #00ae97;
    margin-right: 5px;
    border: 2px solid #363747;    
    border-radius: 3px;
}

.cloud {
    position: absolute;
}

#cloud1 {
    top: 15%;
    left: 16%;
    width: 150px;
}

#cloud2 {
    top: 47%;
    left: 7.75%;
    width: 85px;
}

#cloud3 {
    top: 17%;
    right: 19%;
    width: 150px;
}

#cloud4 {
    top: 22%;
    right: 7.75%;
    width: 83px;
}

#dashed-box {
    background-color: transparent;
    border: 7px dashed #3f4f96;
    border-radius: 20px;
    width: 60%;
    height: 35%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#title {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 120px;
    color: #feabbf;
    text-shadow: 9px 9px 0 #3f4f96;
}

#start-button {
    cursor: pointer;
    border: 5px solid #3f4f96;
    border-radius: 20px;
    background-color: #fdb760;
    color: #f2ead7;
    font-size: 50px;
    font-family: 'Press Start 2P', sans-serif;
    margin-top: 120px;
    padding: 15px 35px;
    text-shadow: 5px 5px 0 #3f4f96;
    transition: all 0.3s ease;
}

#start-button:hover {
    filter: brightness(105%);
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
}

.hidden {
    display: none !important;
}

#sheldon-text, #character-text {
    width: 95%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 60px;
    color: #feabbf;
    text-shadow: 9px 9px 0 #3f4f96;
    margin-top: 10px;
    text-align: center;
}

#leonard-chosen-text, #howard-chosen-text, #raj-chosen-text, #game-over-text {
    width: 95%;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 70px;
    color: #feabbf;
    text-shadow: 9px 9px 0 #3f4f96;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#sheldon-div {
    margin-top: 40px;
    width: 25%;
    height: 57%;
    background-color: #fdb760;
    border: 25px solid #3f4f96;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

#sheldon-text.fade-in, #sheldon-div.fade-in, #character-text.fade-in, .character-div.fade-in, #leonard-chosen-text.fade-in, #howard-chosen-text.fade-in, #raj-chosen-text.fade-in {
    animation: fadeIn 0.5s ease-out;
}


#sheldon-text.fade-out, #sheldon-div.fade-out, #leonard-chosen-text.fade-out, #howard-chosen-text.fade-out, #raj-chosen-text.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.character {
    object-fit: cover;
    height: 97%;
    margin-top: 5px;
}

#characters-container {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 57%;
    gap: 30px;
}

.character-div {
    margin-top: 40px;
    width: 25%;
    height: 100%;
    background-color: #fdb760;
    border: 25px solid #3f4f96;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.character-div:hover {
    background-color: #feabbf; 
    box-shadow: 7px 8px 7px rgba(0, 0, 0, 0.3);
}

#name-score-container {
    margin-bottom: auto;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.indiv-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#player-container {
    margin-left: 20px;
}

#computer-container {
    margin-right: 20px;
}

.names {
    border: 5px solid #3f4f96;
    border-radius: 20px;
    background-color: #fdb760;
    color: #f2ead7;
    font-size: 20px;
    font-family: 'Press Start 2P', sans-serif;
    padding: 7px 15px;
    text-shadow: 3px 3px 0 #3f4f96;
    margin-top: 10px;
}

.scores {
    color: #3f4f96;
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    margin-top: 10px;
}

.fa-hand-scissors, .fa-hand-lizard {
    transform: rotate(90deg);
}

#choices-selection {
    width: 80%;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

#choices-text {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #f2ead7;
    text-shadow: 3px 3px 0 #4f341c;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#round-text {
    font-family: 'Press Start 2P', sans-serif;
    font-size: 25px;
    color: #f2ead7;
    text-shadow: 3px 3px 0 #4f341c;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#choices-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.choice-icon {
    font-size: 80px;
    color: #cca46a;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow:
        4px 0 0 #4f341c, -4px 0 0 #4f341c,
        0 4px 0 #4f341c, 0 -4px 0 #4f341c,
        2px 2px 0 #4f341c, -2px -2px 0 #4f341c,
        2px -2px 0 #4f341c, -2px 2px 0 #4f341c;
}

.choice-icon:hover {
    color: #c2955c;
    transform: translateY(-5px);
}

.fa-hand-scissors:hover,
.fa-hand-lizard:hover {
    color: #c2955c;
    transform: rotate(90deg) translateX(-5px);
}

#game-hands-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.game-hand {
    font-size: 280px;
    color: #cca46a;
    text-shadow:
        8px 0 0 #4f341c, -8px 0 0 #4f341c,
        0 8px 0 #4f341c, 0 -8px 0 #4f341c,
        4px 4px 0 #4f341c, -4px -4px 0 #4f341c,
        4px -4px 0 #4f341c, -4px 4px 0 #4f341c;
}

.player-hand {
    transform: rotate(90deg);
}

.computer-hand {
    transform: scaleY(-1) rotate(-90deg);
}

.shaking {
    animation: shake 0.5s ease-in-out 3;
}

.computer-hand.shaking {
    animation-name: shake-computer;
}

.displayed {
    pointer-events: none;
    opacity: 0.6;
}

.player-hand.fa-hand-scissors,
.player-hand.fa-hand-lizard {
    transform: scaleY(-1) rotate(180deg);
}

.computer-hand.fa-hand-scissors,
.computer-hand.fa-hand-lizard {
    transform: scaleY(-1) scaleX(-1) rotate(180deg);
}

.player-hand.fa-hand-scissors.shaking,
.player-hand.fa-hand-lizard.shaking {
    animation-name: shake-scissors-player;
}

.computer-hand.fa-hand-scissors.shaking,
.computer-hand.fa-hand-lizard.shaking {
    animation-name: shake-scissors-computer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); 
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
    0% {
        transform: translateY(0) rotate(90deg);
    }
    50% {
        transform: translateY(-30px) rotate(90deg);
    }
    100% {
        transform: translateY(0) rotate(90deg);
    }
}

@keyframes shake-computer {
    0% {
        transform: translateY(0) scaleY(-1) rotate(-90deg);
    }
    50% {
        transform: translateY(-30px) scaleY(-1) rotate(-90deg);
    }
    100% {
        transform: translateY(0) scaleY(-1) rotate(-90deg);
    }
}

@keyframes shake-scissors-player {
    0% { transform: translateY(0) rotate(180deg); }
    50% { transform: translateY(-30px) rotate(180deg); }
    100% { transform: translateY(0) rotate(180deg); }
}

@keyframes shake-scissors-computer {
    0% { transform: translateY(0) scaleX(-1) rotate(180deg); }
    50% { transform: translateY(-30px) scaleX(-1) rotate(180deg); }
    100% { transform: translateY(0) scaleX(-1) rotate(180deg); }
}


